# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Virtual environment
venv/
env/

# VS Code
.vscode/

# Model (too large for GitHub, optional)
# model/plantmodel.pth

# Dataset (too large for GitHub)
data/

# OS
.DS_Store
Thumbs.db
